div {
    background-color: #e6e6fa;
}

.content {
    letter-spacing: 2px;
    font-size: 20px;
    text-align: left;
}

li {
    float: left;
}

.catalogList {
    float: none;
}

h1 {
    text-align: center;
}
